@{
    ViewData["Title"] = "Arte";
}

<div class="aula-container">
  <div class="desafio-container">
    <div class="celular-container">
      <form method="post" asp-action="ArteRespuesta" class="formulario-chat">
        <input type="text" name="respuesta" placeholder="Escribí un mensaje..." autofocus />
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
</div>
