@{
    ViewData["Title"] = "Arte";
}

<div class="aula-container">

  <div class="vidas-info">
      <p>Vidas restantes: @ViewBag.Vidas</p>
      <p>Fallos: @ViewBag.Fallos</p>
  </div>

  <div class="desafio-container">
    <div class="celular-container">
      <img src="../Assets/celular-foto.png"/>
      <form action='@Url.Action("RespuestaHabitacion3", "Home")' method=POST enctype="multipart/form-data" class="formulario-chat">
        <input type="text" name="respuesta" placeholder="Escribí un mensaje..." autofocus />
        <button type="submit">
          <img src="../Assets/enviarWhatsapp.png" alt="Enviar" width="24" height="24"/>
        </button>
        </form>
    </div>
  </div>
</div>
