@{
    ViewData["Title"] = "Arte";
}

<div class="aula-container">
  <div class="desafio-container">
    <div class="celular-container">
      <img src="../Assets/celular-foto.png"/>
      <form action='@Url.Action("RespuestaHabitacion3", "Home")' method=POST enctype="multipart/form-data" class="formulario-chat">
        <input type="hidden" id="puntaje" name="puntaje" value=@ViewBag.notis>
        <input type="text" name="input" placeholder="Escribí un mensaje..." autofocus />
        <button type="submit">
          <img src="../Assets/enviarWhatsapp.png" alt="Enviar" width="24" height="24"/>
        </button>
        </form>
    </div>
  </div>
</div>

<script>
let puntaje = document.getElementById('puntaje').value
let notificaciones = document.getElementById('notis')

setInterval(() => {
  alert("Tardaste 5 segundos, notificacion")
  puntaje++;
  document.getElementById('puntaje').value = puntaje;
  notificaciones.innerText = "Tus notificaciones: " + puntaje;
}, 5000);


</script>