@{
    ViewData["Title"] = "Bases de Datos";
}

<div class="pagina-fondoBD">
    <div id="BD">
        <h1>Escanea este qr con tu celular</h1>
        <div id="qrcode"></div>
    </div>
</div>


<script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
  const token = '@ViewBag.Token';
  const urlCelular = '@ViewBag.UrlCelular';



  new QRCode(document.getElementById("qrcode"), urlCelular);

  setInterval(() => {
    fetch(`/Home/EstadoRespuesta?token=${token}`)
      .then(r => r.json())
      .then(data => {
        if (data.correcto) {
          window.location.href = "/Home/SiguientePantalla";
        }
      });
  }, 2000);
</script>