@{
    ViewData["Title"] = "Bases de Datos";
}

<div class="pagina-fondoBD">
    <div id="BD">
        <p>"Cada alumno puede inscribirse en varias materias, y cada materia puede tener varios alumnos."</p>
        <h2>¿Cuál es la cardinalidad? Indicar en mayúscula</h2>
        <form action='@Url.Action("RespuestaHabitacion4", "Home")' method="POST" enctype="multipart/form-data">
            <label for="input">Respuesta:</label>
            <input type="text" name="input" id="input" required>
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>