@{
    ViewData["Title"] = "¡Respuesta correcta!";
    ViewData["CustomLayoutOption"] = true;
}

<div class="correcto-wrapper">
        <div class="correcto-container">
            <h1>✅ ¡Respuesta correcta!</h1>
            <p>La contraseña es:</p>
            <div class="clave">jessi</div>
            <p>Ingresala en la computadora para avanzar en el juego.</p>
        </div>
</div>