@{
    ViewData["Title"] = "Créditos";
}

<div id="creditos">
    <div>
        <p>Uriel Suti</p>
        <a href="https://www.github.com/UriSuti"><img src="/Assets/Suti.jpg" alt="Suti"></a>
    </div>

    <div>
        <p>Alan Vitas</p>
        <a href="https://www.github.com/AlanVIT"><img src="/Assets/Vitas.jpg" alt="Vitas"></a>
    </div>

    <div>
        <p>¡Cliqueá las imágenes e ingresá al GitHub de los colaboradores!</p>
        <a class="volver-menu" href='@Url.Action("Index", "Home")'>Volver al Menú</a>
    </div>
</div>