@{
    ViewData["Title"] = "Index";
}

<h1>¡Bienvenido a "Egresa de Info"! Donde tu objetivo es sobrevivir al recorrido de tres años en esta especialidad</h1>
<a href='@Url.Action("Tutorial", "Home")'>Tutorial</a>
<a href='@Url.Action("Jugar", "Home")'>Jugar</a>
<a href='@Url.Action("Creditos", "Home")'>Créditos</a>
