@{
    ViewData["Title"] = "Introducción";
}

  <div class="fondo-container">
    <img src="../Assets/FondoProfe1.png" alt="Profe señalando al botón" class="fondo-img">

    <div class="boton-container">
        <a class="boton-continuar" href='@Url.Action("SSI", "Home")'>Empezar info (ssi)</a>
    </div>
  </div>