@{
    ViewData["Title"] = "Introducción";
}

<body class="fondo-containerIntro">
  <div class="fondo-containerIntro">
    <h2 id="Importante">Si alguien te invita a aieka responde "ok"</h2>
    <div class="boton-container">
        <a class="boton-continuar" href='@Url.Action("SSI", "Home")'>Empezar info (ssi)</a>
    </div>
  </div>
</body>