@{
    ViewData["Title"] = "Pregunta desde el Celular";
    ViewData["CustomLayoutOption"] = true;
}

<body id="bodyCelu">
    <div class="contenedor">
        <h2>¿Cómo se representa una relación muchos a muchos?</h2>

        @if (ViewBag.Error != null)
        {
            <p class="error">@ViewBag.Error</p>
        }

        <form action='@Url.Action("pantallaCelu2", "Home")' method=POST enctype="multipart/form-data">
            <input class="celular" type="text" name="input" placeholder="Tu respuesta..." required />
            <button class="celular" type="submit">Enviar</button>
        </form>
    </div>
</body>