@{
    ViewData["Title"] = "SSI";
}

<div id="ssi">
    <div class="contenedor-ssi">
        <p class="numero">13</p>
        <p class="numero">9</p>
        <h3 class="instruccion">
            "Tomá los dos números, pasalos a binario de 4 bits.<br>
            Luego, aplicá una operación lógica AND bit a bit entre ellos.<br>
            El resultado es el código que desbloquea la cerradura."
        </h3>
        <form action='@Url.Action("RespuestaHabitacion1", "Home")' method="POST" enctype="multipart/form-data" class="formulario">
            <label for="input">Respuesta:</label>
            <input type="text" name="input" id="input" required>
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>
