@{
    ViewData["Title"] = "Tutorial";
}

<body id="tutorial">
    <p>
        Para jugar, leé atentamente cada consigna y resolvé los desafíos usando lo que aprendiste en las materias de la especialidad. Interactuá con el entorno: códigos, frases, pizarras o formularios pueden contener pistas. Cada escenario es distinto: algunos te van a pedir lógica, otros programación, análisis o tomar decisiones. Probá, equivocáte, volvé a intentar. Solo resolviendo cada prueba vas a poder avanzar al siguiente nivel y llegar al egreso.
    </p>

    <a href='@Url.Action("Index", "Home")' class="volver-link">← Volver a la página principal</a>
</body>
